<h1>Let's look at one Restaurant</h1>

<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>

<%= link_to "Reviews", restaurants_path(@reviews) %>

<%= link_to "Back", restaurants_path %>
